.idea
.DS_Store
*.iml
.vscode/
target/
build/
out/
.gradle/
*.class
*.jar
*.log
*.jmx
/mvnw
/mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
HELP.md
gradlew
gradlew.bat
gradle-wrapper.jar
**/src/main/docker/
benchmark.txt
itemsbkp.json
mise.toml
testemain.java
